*{
    box-sizing: border-box;
    font-family: 'Segoe UI light';
    margin: 0;
    padding: 0;
}
:root{
    --text-color:#fff;
    --main-color:#7E69C6;
    --btn-hover:#6469D1;
}
html{
    scroll-behavior: smooth;;
}







/* navbar */
nav{
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--main-color);
     /* width: 100%; */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}
nav .logo{
    width: 15%;
 }

.logo img{
    width: 100%;
}

.lists{
     width: 50%;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;


}
li{
    list-style-type: none;
}
a:hover, a::after{
    color: tomato;
    transition: 1s ease-out;
    border-bottom: 5px solid tomato;
}
a, i{
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
    color: var(--text-color);
 }
 ul li i{
    line-height: 18px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'EngageIcons';
    font-style: normal;
}
/* </navbar> */

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
    padding: 15px;
    float: left;
}

.header{
    /* display: flex; */
    background-color: var(--main-color);
    margin: auto;
}

.iphone{
    position: relative;
    text-align: end;
    z-index: 15;
}
.captions{
    /* display: flex;   */
    /* flex-direction: column; */
    align-items: start;
    text-align: start;
    margin: auto;
    font-family: 'Rubik';
    line-height: 72px;
    color: var(--text-color);
    font-style: normal;
    width: 50%;
    position: relative;
    padding-top: 170px;
}
.captions h2{
    font-size: 52px;
    line-height: 72px;
    font-family: 'Rubik';
    font-weight: 400;

}
.captions p{
    font-size: 18px;
    line-height: 37px;
    font-family: 'Rubik';
    font-weight: 400;
    color: var(--text-color);
}
.captions button {
    width: 30%;
    /* height: 7vh; */
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Rubik';
    font-weight: 700;
}

.captions .btn-two{
    background-color: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
.captions .btn-one:hover{
    background-color: var(--btn-hover);
    color: var(--text-color);
}
.captions .btn-two:hover{
    background-color: var(--btn-hover);
    border: var(--btn-hover);
}

/* fixed side */
.setting{
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    width: 50px;
    z-index: 999999;
}
.setting button{
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    border: none;
    width: 100%;
}
.setting .one{
    border-radius: 0 5px 0 0 ;
}
.setting .two{
    border-radius: 0 0  5px 0 ;
}
.setting button i{
    width: 100%;
    padding: 0;
    margin: 0;
    color: black;
}
.setting button i:hover{
    width: 100%;
    color: rgb(33, 143, 230);
}

/* end fixed side */
/* laptop */
.laptop{
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.laptop-caption{
    text-align: start;
    justify-content: center;
    align-items: center;
    top: 35%;
    position: relative;
    left: 50px;
}
.laptop-caption h3{
    font-size: 32px;
    line-height: 44px;
    font-style: normal;
    color: rgb(48, 48, 48);
    font-family: 'Rubik';
    font-weight: 400;
}
.laptop-caption p{
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    color:rgb(96, 96, 96);
    font-family: 'Rubik';
    font-weight: 400; 
    padding-bottom: 8%;
    width: 70%;
}
.laptop-caption button{
    width: 20%;
    /* height: 7vh; */
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Rubik';
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--btn-hover);
    position: absolute;
}
.laptop-caption button:hover{
    background-color:#666666;
}


.laptop-img img{
    width: 100%;
}

.tablet-body{
    background-color: #F8F8F8;
    padding-bottom: 100px;
}


.tablet-img img{
    width: 100%;
}

.tablet-caption{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    text-align: start;
    margin: auto;
    position: relative;
    margin-bottom: 90px;
    width: 50%;
    height: 100vh;
}


/* mobile  */
.mobile{
    position: relative;
    padding-top: 60px;
    margin: 20px;
    margin: auto;
    background-color: #FFFFFF;
}
.mobile-caption{
    
    justify-content: center;
    display: flex;
    /* background-color: tan; */
    flex-direction: column;
    align-items: start;
    position: relative;
    top: 150px !important;
    padding-bottom: 50px;
     margin-bottom: 140px;
}
.mobile-caption h3{
    font-size: 32px;
    line-height: 44px;
    font-style: normal;
    color: rgb(48, 48, 48);
    font-family: 'Rubik';
    font-weight: 400;
}

.mobile-caption p{
    font-size: 16px;
    line-height: 30px;
    font-style: normal;
    color:rgb(96, 96, 96);
    font-family: 'Rubik';
    font-weight: 400; 
    padding-bottom: 8%;
    width: 70%;
}
.mobile-caption button{
    width: 30%;
    /* height: 7vh; */
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Rubik';
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--btn-hover);
    position: relative;
    top: 20px;
}
.mobile-caption button:hover{
    background-color:#666666;
}
.captions-section{
       background-color: #FFFFFF;
       padding-bottom: 100px;
       padding-top: 100px;
}

   /* analysis */
   .analysis{
    position: relative;
    margin-top: 120px auto;
    margin-bottom: 120px auto;
     padding-top: 120px;
    background-color: #4868db;
    padding-left: 120px;
}

.info-div{
    padding-bottom: 50px;
}
.analysis .info .info-div i{
    font-size: 50px;
    color: #F8F8F8;

    }
.analysis .info .info-div .number , .location , .ideas ,.comments{
    font-size: 50px;
    color: #F8F8F8;
}

/* like */
.analysis .info .info-div .number::after{
    content: " |";
    animation-name: typing;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes typing {
    0% {content:" 1|";}
    7% {content:" 12";}
    14% {content:" 129";}
    20% {content:" 145";}
    24% {content:" 160";}
    30% {content:" 200";}
    35% {content:" 400";}
    40% {content:" 600";}
    50% {content:" 1000";}
    55% {content:" 1020";}
    60% {content:" 1300";}
    70% {content:" 1800";}
    80% {content:" 1900";}
    90% {content:" 2000";}
    100% {content:" 2012";}
}


/* location */
.analysis .info .info-div .location::after{
    content: " |";
    animation-name: location;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes location {
    0% {content:" 1";}
    50% {content:" 12";}
    100% {content:" 129";}

}

/* idaes */

.analysis .info .info-div .ideas::after{
    content: " |";
    animation-name: ideas;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes ideas {
    0% {content:" 1";}
    7% {content:" 12";}
    14% {content:" 129";}
    20% {content:" 145";}
    40% {content:" 160";}
    60% {content:" 200";}
    80% {content:" 400";}
   90% {content:" 600";}
   100% {content:" 999";}

}
/* comments */
.analysis .info .info-div .comments::after{
    content: " |";
    animation-name: comments;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes comments {
    0% {content:" 1|";}
    20% {content:" 12";}
    30% {content:" 129";}
    20% {content:" 145";}
    40% {content:" 160";}
    50% {content:" 200";}
    70% {content:" 400";}
    90% {content:" 600";}
    100% {content:" 1000";}

}
.analysis .info .info-div p
{
    font-size: 30px;
    color: #F8F8F8;

}
.info-div i:hover{
    color: #303030 !important;
}
.info-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.info-columns{
    width: calc(100%/5);
}

/* arrow */
.arrow{
    width: 50px;
    height: 50px;
    background-color: #4A95E0;
    position: fixed;
    bottom: 19px;    right: 30px;
    text-align: center;
    border-radius: 50%;

}
.arrow i{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
}


/* loading */
#loading{
    position: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    align-content: center;
    z-index: 999898;
    color: white;
    background-color: rgba(0, 0, 0, .8);
}


/* footer */
.footer{
    margin-top: 50px;
    background-color: #F8F8F8;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer .content{
    width: 50%;
     height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
}

.footer .icons div{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: gray;
border-radius: 50%;
}
.footer .icons{
    /* width: 50%; */
    height: 100%;
    color: #F8F8F8;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer .icons .one:hover{
    background-color: #4868db;

}

.footer .icons .two:hover{
    background-color: #dd4b39 !important;
}

.footer .icons .three:hover{
    background-color: #007bb5 !important;
}

.footer .icons .four:hover{
    background-color: #00aced !important;
}






@media only screen and (max-width:768px) {
    [class*="col-"] {
        width: 100%;
    }
     .menu-bar{
        position: fixed;
        right: 0;
        top: 0;
        margin-top: 1px;
        width: 30px;
        height: 30px;
        /* background-color: #f4f4f4; */
        position: absolute;
        right: 20px;
        cursor: pointer;
        display: inline-block;
        z-index: 99999999999999999999;
        }
        nav .div-one ,nav .div-two ,nav .div-three{
            width: 30px;
            height: 5px;
            /* background-color: #333; */
            background-color: #f4f4f4;
            margin: 6px 0;
            transition: 0.4s;
        }
      
         
    .lists:hover ul{
        display: block;
        position: relative;
        top: 20px;
        background-color: #f4f4f4;
        list-style-type: none;
        padding: 0;
        margin: 0;
        column-count: 1;
        column-gap: 5px;
        z-index: 999; 
        color: black;
    }
    .lists ul li{
        display: block;
        padding: 10px;
      }
     .lists ul li a{
        text-decoration: none;
        color: #00aced;
     }
    
    .lists ul{
        display: none;
    }

    .mobile{display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
 
    .laptop{
        display: flex;
        flex-direction: column;
    }

 .mobile-img{
    width: 100%;
 }
 .mobile-img img{
    width: 100%;
 }

}